body {
    background: linear-gradient(135deg, #ff0048, #ff8400);
    font-family: 'Orbitron', sans-serif; /* Fonte esportiva */
    text-align: center;
    color: white;
    margin: 0;
    padding: 20px;
}

/* Título */
.titulo {
    font-size: 36px;
    text-shadow: 4px 4px 10px black;
    margin-bottom: 20px;
}

/* Botão */
.btn {
    background: #00eaff;
    color: #000;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    font-family: 'Orbitron';
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #00aacc;
    transform: scale(1.05);
}

/* Container das cartas */
#container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

/* Carta */
.carta {
    width: 220px;
    background: #111;
    border: 3px solid #00eaff;
    border-radius: 15px;
    box-shadow: 0 0 15px #00eaff;
    padding-bottom: 10px;
    overflow: hidden;
}

/* Imagem */
.carta img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

/* Nome */
.carta h3 {
    font-size: 18px;
    padding: 10px;
    background: #00eaff;
    color: #000;
    margin: 0;
}

/* Lista */
.carta ul {
    text-align: left;
    list-style: none;
    padding: 10px;
    margin: 0;
    font-size: 14px;
}

/* Resultado */
#resultado {
    margin-top: 25px;
    font-size: 22px;
    text-shadow: 3px 3px 8px black;
}
